.post{
    border-bottom: solid 1px #4d4d4d;
    padding: 0;
    display: flex;
    position: relative;
    transform-origin: top;
    animation: renderPost 100ms;
}
@keyframes renderPost {
    0%{
    transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}
.post .Post__menu{
    background-color: transparent;
    border: none;
    outline: none;
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5em;
    width: 2.5em;
    border-radius: 9999px;
    color: #00b7ff;
}
.post .Post__menu:hover{
    background-color: #00b7ff41;
    
}


.post .post__options__menu{
    display: none;
    position: absolute;
    box-shadow:0 0 5px white;
    background-color: black;
    border-radius: 10px;
    box-shadow: #494949;
    top: 2em;
    right: 2em;
}
.post .post__options__menu div{
    padding: 0.25em 1em;
    cursor: pointer;
}
.post .post__options__menu div:hover{
    background-color: #31313171;
}
.post .avatar{
    width: 3.3em;
    padding: 0 5px;
}
.post .post__info{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.post .post__info .user__info{
    display: flex;
    margin-top: 0.2em;
    font-family: "Manrope", sans-serif;
    cursor: pointer;
}
.post .post__info .user__info h1{
    font-size: 1.1em;
    font-weight: 300;
    margin: .1em;
}
.post .post__info .user__info h2{
    font-size: 1.1em;
    font-weight: 400;
    margin: .1em;
    color: #494949;
}
.post .post__info .user__info h2:hover{
    color: #aaa;
}
.post .post__info .description{
    margin: 5px 0.1em;
    margin-bottom: 5px;
    font-weight: 200;
}
/* .post_pic_container{

} */
.post__pic{
    width: max-content;
    max-width: 95%;
    max-height: 30em;
    object-fit: cover;
    border-radius: 0.5em;
}


.post .avatar img{
    width: 85%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 9999px;
    margin: 5px;
    margin-top: 10px;
}
.post__options{
    width: 40%;
    display: flex;
    padding: 5px 0;
    gap: 28px;
}
.react_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.1em;
    aspect-ratio: 1/1;
    color: white;
    border-radius: 50%;
    position: relative;
}

.react_btn *:not(p){
    font-size: 1.6em !important;
}
.react_btn p{
    position: absolute;
    top: clac(50% - 5px);
    left: 23.8px;
}

.post__options .comment:hover{
    color: #000cb4 !important;
    background-color: #2773ff1f;
}
.post__options .like:hover{
    color: #ff1722 !important;
    background-color: #f500001f;
}
.post__options .retweet:hover{
    color: #00990d !important;
    background-color: #16bb001f;
}