.sidebareContainer{
    padding: 0;
    flex: 0.2;
    height: 100vh;
    overflow-y: auto;  
    overflow-x: hidden;
    position: sticky;
    top: 0;
}
.optionsWrapper{
    width: 200%;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content:left;
    transition: 200ms ease-in-out;
}
.logo{
    margin-top: 20px;
    margin-left: 15px;
    display: block;
}
.sidebar{
    width: 100%;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow-x: hidden;
}
.sidebar button{
    color: white;
}
.Post{
    color: white;
    background-color: #00b7ff;
    font-size: 1.5em;
    border: none;
    padding: 0.5em 3.2em;
    border-radius: 9999px;
    cursor: pointer;
    font-weight: 600;
    margin-top: .5em;
    margin-left: 0.5em;
    width: 80%;
    max-width: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hide{
    display: none;
}
.shadow__layer{
    background-color: #4d4d4d56;
    height: 100vh;
    width: 100vw;
    position: absolute;
}
.user__menu__options{
    position: absolute;
    bottom: 13rem;
    left: 2.8rem;
    width: 10rem;
    border: #292929 solid 1px;
    border-radius: 5px;
    background-color: black;
    padding: 0;
}
.user__menu__options div{
    color: aliceblue;
    font-size: 1.5em;
    font-weight: 200;
    width: 100%;
    padding: 5px 10px;
    cursor: pointer;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.user__menu__options div:hover{
    background-color: #25252544;
}.user__menu__options .sign_out{
    color: #ff1313;
}
.moreBtn{
    position: relative;
}
@media screen and (max-width: 640px) {
    .Post{
        height: 3em;
        width: 3em;
        display: block;
        font-size: 1em !important;
        display: flex;
        align-items: end;
        justify-content: start;
    }
}
/* phone screen UI */
@media screen and (max-width: 460px) {
    .sidebareContainer{
        border-top: solid 1px #4d4d4d;
        height: 3rem;
        width: 100vw;
        position: fixed;
        bottom: 0;
        top: unset;
        z-index: 999;
        background-color: #000000d3;
        overflow: hidden;
    }
    .overflow-visible{
        overflow: visible !important;
    }
    .optionsWrapper{
        width: 100%;
        height: 100%;
        transform: translateX(0);
    }
    .sidebar{
        width: 100%;
        height: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0 4px;
        overflow: hidden;
    }
    .sidebar:not(.sidebar.secondary) .SidebarOption{
        justify-content: start;
    }
    .sidebar button *{
        font-size: 1.3em;
    }
    .sidebar button{
        width: 60px;
    }
     .SidebarOption h1, .Post{
        display: none;
    }
    .display-none{
        display: none !important;
    }
    .sidebar::after{
        display: none;
    }
    .logo{
        display: none !important;
    }
    .sidebar.secondary{
        position: absolute !important;
        flex-direction: column;
        width: calc(100vw - 14px);
        margin-left: 7px;
        margin-bottom: 7px;
        border-radius: 15px;
        bottom: 0;
        background-color: #000000;
        height: fit-content;
        z-index: 999 !important;
        align-items: start;
        transform: translateY(100%);
        transition: 200ms ease-in-out;
    }
    .sidebar.secondary button{
        width: 100%;
    }
    .show-more{
        transform: translateY(0) !important;
    }
    .secondary::before{
        content: "";
        width: 50%;
        height: 8px;
        border-radius: 999px;
        background-color: rgb(102, 102, 102);
        margin: 10px auto;
    }
    .secondary .SidebarOption h1{
        display: block;
        white-space: nowrap;
    }
    .SidebarOption{
        height: 3em !important;
        gap: 1em;
        justify-content: center;
    }
    .SidebarOption:first {
        font-size: 1.5em;
    }
    .SidebarOption button{
        gap: 2em;
    }
    .shadow{
        width: 100vw;
        height: 100vh;
        background-color: #ffffff00;
        z-index: 998;
        position: fixed;
        top: 0;
        left: 0;
    }
}