.authInterface{
    display: flex;
    width: 100%;
    max-width: 1100px;
    align-items: center;
    margin: 0 auto;
    position: relative;
}
@media screen and (min-width: 640px) {
    .authInterface::after{
    content: "";
    position: absolute;
    width: 5px;
    height: 300px;
    background: #fff4;
    top: calc(50% - 150px);
    left: 44%;
}
}


.loginForm{
    width: 50%;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    flex: 1;
    padding: 0 2rem;
}

.authInterface .icon{
    font-size: 20rem !important;
    color: inherit;
    position: relative;
    flex: 1;
}
.loginForm .input__cont{
    width: 100%;
    padding: 4px;
    margin-bottom: 1em;
    font-size: 1.2em;
    border-radius: 8px;
    border: solid #333 1px;
    height: 3em;
    position: relative;
    overflow: hidden;   
    transition: 200ms;
}
.loginForm .input__cont:focus-within{
    border: #00b7ff solid 1px;
}
.loginForm .input__cont .label{
    position: absolute;
    top: 5px;
    left: 10px;
    font-size: 1em;
    color: gray;
    transition: 200ms;
    z-index: -1;
}
.loginForm .input__cont:focus-within .label, .labelStyle{
    top: -10px !important;
    left: 5px !important;
    font-size: 0.8em !important;
}
.loginForm .input__cont input{
    width: 100%;
    border:none;
    outline: none;
    height: 100%;
    padding-top: 0.8em;
    font-size: 1em;
    background-color: transparent;
    color: inherit;
    padding-left: 5px;
    font-family: "Manrope", sans-serif;
    font-weight: 300;
}
.btns{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2.8rem;
}
.btns p {
    max-width: 50%;
}
.btns p button{
    border: none;
    outline: none;
    background: transparent;
    color: #00b7ff;
    cursor: pointer;
    padding: 0;
    font-size: 1em;
}

.loginForm .submit__button{
    border: none;
    outline: none;
    font-size: 1.2em;
    color: inherit;
    background-color: #00b7ff;
    padding: 0.4em 1em;
    width: fit-content;
    height: fit-content;
    border-radius: 3px;
    cursor: pointer;
}
.show__hide{
    border: none;
    outline: none;
    position: absolute;
    right: 5px;
    top: 10%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    width: 2.5em;
    height: 2.5em;
    cursor: pointer;
}
.show__hide i{
    font-size: 1.2em;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 9999px;
}
.show__hide i:hover{
    background-color: #33333363;
}

.formLogIn{
    display: none;
}

@media screen and (max-width: 640px) {
    .App{
        flex-direction: unset;
    }
    .authInterface{
        flex-direction: column;
        align-items: center;
    }
    .loginForm{
        width: 100%;
        min-height: unset;
        flex: unset;
    }
    .authInterface .icon{
        font-size: 8rem !important;
        color: inherit;
        position: relative;
        flex: unset;
        margin: 4rem 0;
    }
}