:root{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    padding: 0%;
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0%;
    transition: 200ms;
}
button {
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
    width: fit-content;
  }
*{
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}


body::-webkit-scrollbar-track{
    width: 5px;
    background: rgb(68, 68, 68);
}
body::-webkit-scrollbar-thumb{
    width: 5px;
    background: rgb(10, 10, 10);
}

@font-face {
    font-family: Antipasto;
    src: url('./assets/fonts/AntipastoPro-DemiBold_trial.ttf');
  }