:root{
    padding: 0%;
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin: 0;
    padding: 0%;
}
button {
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
    width: fit-content;
  }
*{
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}


@font-face {
    font-family: Antipasto;
    src: url('./assets/fonts/AntipastoPro-DemiBold_trial.ttf');
  }